
###> symfony/framework-bundle ###
/.env.local
.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

var/
vendor/
public/videos/
public/img/
public/tree\ images/
public/tree images/
public/videos/video_1.gif
public/videos/video_2.gif
public/videos/video_3.gif
public/videos/video_4.gif

###< symfony/framework-bundle ###
