<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <title>{% block title %}My Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('georoots/css/styles.css') }}">

    {% block stylesheets %}
    {% endblock %}
</head>

<body class="bg-light">
{% if app.session is defined and app.session.get('user') is not null %}
    {% set user = app.session.get('user') %}
{% endif %}
{% block body %}

{% endblock %}
<script src="{{ asset('georoots/js/georoots.js') }}"></script>
</body>
</html>
